stages:
  - test

variables:
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"
  CARGO_TARGET_DIR: "$CI_PROJECT_DIR/target"

cache:
  key: "rust-cache"
  paths:
    - .cargo/registry
    - .cargo/git
    - target

test:
  stage: test
  image: rust:latest
  script:
    - rustc --version
    - cargo test --all --locked --verbose